.cart-page {
  padding: 2rem;
  text-align: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
}

.cart-item-image {
  margin-right: 1rem;
  width: 80px; /* Resmin genişliği */
  height: 80px; /* Resmin yüksekliği */
  object-fit: cover; /* Görüntü kesintisi olmadan orantılı şekilde göster */
  border-radius: 5px; /* Köşeleri yuvarlak yap */
  border: 1px solid #ddd; /* Çerçeve */
}

.cart-item-info {
  flex: 1;
}

.cart-item-price,
.cart-item-quantity {
  margin-top: 0.5rem;
}

.remove-from-cart {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.remove-from-cart:hover {
  background-color: #ff2b2b;
}

.go-to-checkout {
  background-color: #04c068;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.go-to-checkout:hover {
  background-color: #03a653;
}